<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055">
  <div #toastElement class="toast align-items-center text-white border-0 py-2" [class]="notification().category" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        @switch(notification().category){
        @case(notificationCat.INFO){
        <i class="bi bi-info-circle-fill"></i>
        }
        @case(notificationCat.WARNING){
        <i class="bi bi-exclamation-triangle-fill"></i>
        }
        @case (notificationCat.ERROR) {
        <i class="bi bi-exclamation-triangle-fill"></i>
        }
        @case (notificationCat.SUCCESS) {
        <i class="bi bi-check-circle-fill"></i>
        }
        }
        <b>&nbsp;&nbsp;Message:</b> {{notification().message}}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>